{% extends 'base.html'%}
{% block content %}
    <h4>page Add post</h4>
    <form action="/add_post" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <!--
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">
        <br>
        <br>
        <label for="content">Content:</label>
        <input type="content" name="content" id="content">
        <br>
        -->
        <button name="submit">Post</button>
        
        <br>
    </form>

{% endblock content %}