{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">

            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li> <a href="{% url 'post' %}">Post</a><br></li>
            </ul>
        </div>
    </nav>
            <h2>My BlogPost Application</h2>
            <p>
               
               
                {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <br>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'login' %}">log in</a>
                <a href="{% url 'register' %}">register</a>
                {% endif %}
            </p>
        {% block content %}{% endblock content %}
        <br>
        <footer>copyrigth by Bertivox</footer>
   
</body>
</html>